@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 346 35% 23%;
    --card: 0 0% 100%;
    --card-foreground: 346 35% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 346 35% 23%;
    --primary: 346 35% 23%;
    --primary-foreground: 51 100% 88%;
    --secondary: 176 56% 84%;
    --secondary-foreground: 346 35% 23%;
    --muted: 51 100% 88%;
    --muted-foreground: 346 35% 23%;
    --accent: 34 89% 64%;
    --accent-foreground: 346 35% 23%;
    --destructive: 0 72% 41%;
    --destructive-foreground: 0 0% 100%;
    --border: 346 35% 23%;
    --input: 346 35% 23%;
    --ring: 346 35% 23%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
